<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- the source folder  -->
    <add key="sourceFolder" value="C:\\VGuanProjects" />
    <!-- the the destination folder -->
    <add key="destinationFolder" value="C:\\WWW\\esign.concordpacific.com\\DemoDev_201701\\DemoDev" />
    <add key="remoteFolder" value="\\wwwmaster\inetpub\wwwroot\wcms" />
    <!-- the remote domain where the destination folder located -->
    <add key="remoteDomain" value="remoteDomain" />
    <!-- To access the remote domain and folder, the user has to be authenticated. 
         Provode user name and password here. 
         Make sure the user is a domain user, not local user.  
    -->
    <add key="userName" value="remoteDomain\userId" />
    <!-- the password will be encrypted on first time running-->
    <add key="Password" value="userPassword" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>